.App {
  text-align: center;
  background-color: rgba(241, 50, 50,.85);
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif 
}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

