@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  font-family: 'Inconsolata', monospace;

}

.App-header {
  background-color: black;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(195, 20, 20);
}

